@import "variables";
@import "fonts";
@import "post";

*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #f6f7fe;
}


a {
  color: #225A81;
  text-decoration: none;
}


ul {
  list-style-type: square;
}

.container {
  overflow: hidden;
  padding-top: 5rem;

  .content {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .625rem;
    box-shadow: 0 2px 3px 0 rgba(75, 91, 108, .2);
  }

}

// background-colors
.bg-color__under-construction {
  background-color: #fcfefc
}

.bg-color__about {
  background-color: #f6f7fe;

  main {
    background-color: #f6f7fe
  }
  h1 {
    font-family: 'Roboto', sans-serif;
  }
  p {
    font-family: 'Roboto Mono', sans-serif;
  }

  @media (max-width: 765px) {
    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 33px;
    }
    p {
      font-family: 'Roboto Mono', sans-serif;
      font-size: 18px
    }
  }
}

