@import "variables";
@import "fonts";
@import "post";

*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
}


a {
  color: #225A81;
  text-decoration: none;
  word-break: break-all;
}


ul {
  list-style-type: square;
}

.container {
  overflow: hidden;
  padding-top: 5rem;

  .content {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

}
