@import "variables";
@import "fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%
}




body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
}


a {
  color: #225A81;
  text-decoration: none;
}
